@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins', ui-sans-serif, system-ui, sans-serif;
  --font-avenir: 'Avenir', ui-sans-serif, system-ui, sans-serif;

  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #3b82f6;
  --color-secondary: #e5e7eb;
  --color-accent: #facc15;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  font-family: var(--font-avenir);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
